<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myapplication">

    <uses-feature android:name="android.hardware.camera" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TRY IT ON"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NavigationActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="Login" />
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up" />
        <activity
            android:name=".SettingActivity"
            android:label="Settings" />
        <activity
            android:name=".SettingActivity2"
            android:label="Settings" />
        <activity
            android:name=".StartActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CameraActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".FavoriteActivity"
            android:label="Favorite" />
        <activity
            android:name=".PrivacyActivity"
            android:label="Privacy Policy" />
        <activity
            android:name=".DetailActivity"
            android:label="Details" />
    </application>

</manifest>